<h1 class="page-header text-center"><%= @user.name %></h1>
<center>
<%= image_tag @user.image_url, class: "img-circle img-responsive", width: "50", height: "50" %><br>
<p><%= @user.email %></p><br>
<p><%= @user.location %></p><br>
<p><%= @user.bio%></p><br>