<p id="notice"><%= notice %></p>

<div class="col-md-4">
  <% if current_user.current_location == @corral.location %>
    <strong>You are currently checked in at this corral</strong>
  <% end %>
  Users currently at this corral:
  <% @users.each do |user| %>
    <%= link_to "#{user.name}", user_path(user) %>
  <% end %>

  <% if !@corral.images.empty? %>
    <% @corral.images.each do |img| %>
      <%= image_tag img.image_url %>
    <% end %>
  <% else %>
    <%= image_tag "corral", width: "200" %>
  <% end %>
  <p>
    <strong>Location:</strong>
    <%= @corral.location %>
  </p>

  <p>
    <strong>Racks:</strong>
    <%= @corral.racks %>
  </p>

  <p>
    <strong>Borough:</strong>
    <%= @corral.borough.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @corral.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @corral.longitude %>
  </p>
</div>

<div class="col-md-8">
  <% if !current_user.location == @corral.location %>
    <%= link_to "Check In", corral_path(@corral.id), class: "btn btn-primary" %>
  <% end %>
</div>
<div class="col-md-8">
  <% if !current_user.location == @corral.location %>
    <%= link_to "Check Out", corral_path(@corral.id), class: "btn btn-primary" %>
  <% end %>
</div>

<div class="col-md-12">
  <p>
    <strong>Reviews:</strong>
  </p>
  <table class="table table-responsive table-hover">
  <tbody>
  <% if !@corral.reviews.empty? %>
    <% @corral.reviews.each do |review| %>
      <tr>
        <td><h5><%= review.rating %></h5>
        <td><h5><%= review.description %></h5>
          <p class="text-right">reviewed on <%= review.created_at.strftime("%B %d, %Y") %> by <%= link_to review.user.name, user_path(review.user.id) %></p> 
        </td>
      </tr>
    <%end%>
  </tbody>
  <%end%>
</table>
<%= will_paginate @reviews, previous_label: h("<"), next_label: h(">") %>
  <%= form_for([@corral, Review.new]) do |f| %>
  <div class="form-group">
      <%= f.hidden_field :user_id, value: current_user.id %>
      Rating: <%= f.number_field :rating, min: 0, max: 5 %>
      <div class="field">
        <%= f.text_area :description, placeholder: "Your review here", class: "form-control", rows: "7", cols: "100" %>
      </div>
    </div>
    <div class="actions text-right">
      <br /><%= f.submit "Submit Review", class: "btn btn-primary" %> 
    </div>
  <% end %><br />

    <%# link_to 'Edit', edit_corral_path(@corral) %>
    <%# link_to 'Back', corrals_path %>
</div>
