<p id="notice"><%= notice %></p>

<p>
<% if !@corral.images.empty? %>
  <% @corral.images.each do |img| %>
    <%= image_tag img.image_url %>
  <% end %>
<% else %>
  <%= image_tag "corral", width: "200" %>
<% end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @corral.location %>
</p>

<p>
  <strong>Racks:</strong>
  <%= @corral.racks %>
</p>

<p>
  <strong>Borough:</strong>
  <%= @corral.borough.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @corral.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @corral.longitude %>
</p>

<%= link_to 'Edit', edit_corral_path(@corral) %> |
<%= link_to 'Back', corrals_path %>
