<% if current_user %>
  Signed in as <%= current_user.name %>!
  <%= link_to "Sign out", signout_path %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Search rack locations</h2>
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <%= form_tag("/search", method: :get, class: "form") do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by location"%>
                <div class="input-group-addon">
                  <span class=" glyphicon glyphicon-search"></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <center><%= link_to "Advanced search", users_path %></center>
  <%# set path to users path until advanced search is built %>
<% else %>
  <div class="text-center">
    <h1>Hello! Welcome to Rackit!</h1>
    <%= fa_stacked_icon "twitter", base: "square-o", class: "fa-3x" %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  </div>
<% end %>