<% if current_user %>
  Signed in as <%= current_user.name %>!
  <%= link_to "Sign out", signout_path %>
  <%= form_tag("/search", method: :get, class: "form") do %>
    <div class="input-group col-sm-12 col-md-4">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by location"%>
    <div class="input-group-btn">
    <%= button_tag type: "submit", name: nil, class: "btn btn-primary" do %>
      <i class="glyphicon glyphicon-search"></i>
    <% end %>
    </div>
  </div>
  <% end %>
<% else %>
  <h1>Hello! Welcome to Rackit!</h1>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>